.result {
  @apply bg-primary/90;

  div {
    @apply text-mainwhite/90 p-2 truncate rounded-lg text-sm;

    &.active {
      @apply bg-foreground/90 text-white;
    }
  }
}

/* 添加隐藏滚动条的样式 */
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE 和 Edge */
  scrollbar-width: none; /* Firefox */
}
