.container {
  @apply w-screen h-screen border-gray-50;

  display: grid;
  grid-template:
    '. . ' 30px
    'category content' auto
    'nav content' 30px /100px 1fr;

  div {
    &:nth-child(1) {
      @apply border-r;
    }

    &:nth-child(1),
    &:nth-child(2) {
      -webkit-app-region: drag;
    }

    &.category {
      grid-area: category;

      @apply border-r;
    }

    &.content {
      grid-area: content;
    }

    &.nav {
      grid-area: nav;

      @apply border-r border-t;
    }
  }
}
